<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h3>Create new drink</h3>

<div class="creation-container">
    <form th:action="@{/admin/drink/create}" method="post" enctype="multipart/form-data" th:object="${drinkDto}">

        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name" >

        <label for="cost">Cost:</label>
        <input type="number" th:field="*{cost}" id="cost" >
        <span th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" style="color: red"></span>

        <label for="volume">Volume:</label>
        <input type="number" th:field="*{volume}" id="volume" >
        <span th:if="${#fields.hasErrors('volume')}" th:errors="*{volume}" style="color: red"></span>

        <label for="taste">Taste:</label>
        <input type="text" th:field="*{taste}" id="taste" >

        Photo: <input type="file" name="image"/><br><br>

        <input type="submit" value="Create drink"/>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>